
 <!--
Written by Aneta Kotas
For Web Application Developement, CA2
Year 2024/08/29
-->
 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
  <style>
    .nerko-one-regular {
      font-family: "Nerko One", cursive;
      font-weight: 400;
      font-style: normal;
    }

    .nunito-sans {
      font-family: "Nunito Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
      font-variation-settings:
          "wdth" 100,
          "YTLC" 500;
    }

    .footerContext {
      position: absolute;
      bottom: 0;
    }

    html {
      background-color: rgb(208, 208, 208);
    }
  </style>
 </head>
 <body>
    <div class="footerContext">
      <p>
        Web Developement project created by Aneta K. for Hamilton N. 
      </p>
    </div>
 </body>
 </html>